body {
    background-image: url("FinalBattle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ol {
    list-style-type: upper-roman;
    list-style-position: outside;
}

ul {
    background-image: url("snowflake.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
} */
